@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "owl.carousel.css";
@import "owl.theme.default.css";
@import "mobile_menu.css";
@import "styles.css";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
}

header .logos_right li {
  margin-right: 15px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 7px;
  padding-bottom: 6px;
}
header .container .logo {
  position: absolute;
  left: calc(50% - 40px);
  top: 16px;
}
header .container ul {
  display: flex;
  align-items: center;
  list-style: none;
}
header nav ul li {
  margin-right: 28px;
}
header nav ul li a {
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 26px;
  text-decoration: none;
  color: #000000;
}

.body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1064px;
  margin: auto;
}

.main_banner {
  background: #f0efeb;
  border-radius: 0px;
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
}
.main_banner h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #000000;
  margin-bottom: 42px;
}
.main_banner p {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 26px;
}
.main_banner a {
  font-size: 17px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  background: #000000;
  border: 1px solid #000000;
  border-radius: 100px;
  padding: 7px 23px 9px 23px;
}

.face_img {
  position: absolute;
  top: 9px;
  right: 18%;
}

.white_guides {
  background: #ffffff;
  border-radius: 0px;
  padding-top: 60px;
  text-align: center;
  padding-bottom: 88px;
}
.white_guides h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  margin-bottom: 27px;
}
.white_guides .text {
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 47px;
}
.white_guides p {
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.best {
  padding-top: 88px;
  padding-bottom: 248px;
}
.best .container {
  max-width: 1064px;
  margin: auto;
}
.best h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 52px;
  color: #000000;
}
.best .cards {
  justify-content: space-between;
}
.best .cards article {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}
.best .cards article p {
  margin-top: 20px;
}
.best a {
  font-weight: 700;
  font-size: 17px;
  margin-top: 30px;
  text-align: center;
  text-decoration-line: underline;
  color: #000000;
}

.thalby_text {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  max-width: 180px;
  display: inline-block;
  text-align: center;
  color: #000000;
}

.money {
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.owl-nav .owl-prev {
  position: absolute;
  left: -66px;
  top: 14px;
  width: 50px;
  height: 50px;
  background-color: purple !important;
}
.owl-nav .owl-next {
  position: absolute;
  right: -66px;
  top: 14px;
  width: 50px;
  height: 50px;
  background-color: purple !important;
}

.owl-dots {
  text-align: center;
}
.owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
  position: relative;
  top: 15px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 5px;
  background-color: purple;
}

.owl-dot.active span {
  background-color: blue;
}

.people {
  padding-top: 76px;
  padding-bottom: 51px;
  max-width: 100%;
  background: rgba(204, 204, 204, 0.3);
}
.people .container {
  max-width: 1064px;
  margin: auto;
  display: flex;
  align-items: center;
}
.people .container img {
  width: 385px;
  height: 525px;
  margin-right: 50px;
}

.people_text {
  text-align: left;
}
.people_text h3 {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 31px;
  line-height: 42px;
  color: #000000;
}
.people_text p {
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 40px;
  max-width: 498px;
  color: #000000;
}
.people_text a {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
}

.culture_text {
  text-align: right;
}

.culture {
  padding-top: 76px;
  padding-bottom: 51px;
  max-width: 100%;
  background: rgba(204, 204, 204, 0.6);
}
.culture .container {
  max-width: 1064px;
  margin: auto;
  display: flex;
  align-items: center;
}
.culture .container h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 31px;
  color: #000000;
}
.culture .container p {
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 31px;
  max-width: 513px;
  color: #000000;
}
.culture .container a {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
}
.culture .container img {
  margin-left: 50px;
  width: 385px;
  height: 525px;
}

.german_power {
  padding-top: 76px;
  padding-bottom: 51px;
  background: rgba(204, 204, 204, 0.3);
}
.german_power .container {
  max-width: 1064px;
  margin: auto;
  display: flex;
  align-items: center;
}
.german_power .container img {
  margin-right: 50px;
}

.power_text {
  text-align: left;
}
.power_text h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 31px;
  color: #000000;
}
.power_text p {
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 39px;
  color: #000000;
}
.power_text a {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
}

.logo {
  z-index: 100;
  position: relative;
  top: 20px;
}

.dots {
  max-width: 100%;
  padding-top: 190px;
  padding-bottom: 290px;
}
.dots .container {
  max-width: 1064px;
  margin: auto;
}
.dots h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 69px;
  color: #000000;
}
.dots .rounds {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}
.dots .rounds article {
  width: 33%;
}
.dots .rounds article img {
  margin-bottom: 25px;
}
.dots .rounds p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  margin-bottom: 111px;
  color: #000000;
}
.dots h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 102px;
  color: #000000;
}

.grey {
  height: 480px;
  background: #f0f0f0;
  padding-bottom: 52px;
}
.grey .container {
  max-width: 1064px;
  margin: auto;
}
.grey .face_articles {
  display: flex;
  justify-content: space-between;
}
.grey article {
  position: relative;
  top: -178px;
  text-align: center;
  max-width: 248px;
}
.grey article img {
  position: relative;
  right: 18px;
}
.grey article h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  padding-top: 35px;
  margin-bottom: 40px;
  letter-spacing: 0.6px;
  color: #000000;
}
.grey article p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  margin-bottom: 44px;
  color: #000000;
}
.grey article a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.keepin_touch {
  padding-top: 79px;
  padding-bottom: 88px;
  background: #ffffff;
}
.keepin_touch .container {
  max-width: 1064px;
  margin: auto;
}

footer {
  background-color: #020202;
  padding-top: 51px;
  padding-bottom: 16px;
}
footer .container {
  max-width: 1064px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
footer .icons {
  display: flex;
  align-items: flex-start;
  margin-top: 45px;
}
footer .icons li {
  margin-right: 23px;
}
footer .right_first {
  display: flex;
  position: relative;
  left: 90px;
}
footer .right_first ul {
  min-width: 215px;
  margin-left: 25px;
}
footer .right_first .upper {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  margin-bottom: 36px;
  text-transform: uppercase;
  color: #ffffff;
}
footer .right_first li {
  margin-bottom: 12px;
}
footer .right_first li a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}
footer p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  margin-top: 20px;
  color: #ffffff;
}

.uppercase {
  text-transform: uppercase;
}/*# sourceMappingURL=preproc.css.map */