/* .dots {
  max-width: 100%;
  padding-top: 190px;
  padding-bottom: 290px;
}

.dots .container {
  max-width: 1064px;
  margin: auto;
}

.dots p {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 69px;
  color: #000000;
}

.first {
  background: #21f7ec;
  border-radius: 35px;
}

.rounds {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.features {
  width: 33%;
} */
