* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}

header .logo {
  position: absolute;
  left: calc(50% - 40px);
  top: 16px;
}

.container {
  max-width: 1064px;
  margin: auto;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 7px;
  padding-bottom: 6px;
}

header .container ul {
  display: flex;
  align-items: center;
  list-style: none;
}

header nav ul li {
  margin-right: 28px;
}

header nav ul li a {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-decoration: none;
  color: #1c1b1b;
}

.logos_right li {
  margin-right: 26px;
}

.main_banner {
  background: #f0efeb;
  border-radius: 0px;
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
}

.main_banner h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #000000;
  margin-bottom: 42px;
}

.main_banner p {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 26px;
}

.main_banner a {
  font-size: 17px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  background: #000000;
  border: 1px solid #000000;
  border-radius: 100px;
  padding: 7px 23px 9px 23px;
}

.face_img {
  position: absolute;
  top: 9px;
  right: 18%;
}

.white_guides {
  background: #ffffff;
  border-radius: 0px;
  padding-top: 60px;
  padding-bottom: 88px;
}

.white_guides h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  margin-bottom: 27px;
}

.white_guides .text {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #000000;
  margin-bottom: 47px;
}

.white_guides p {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #000000;
}
